.App {
  text-align: center;
  font-family: Arial, sans-serif;
  
}

h1 {
  color: #333;
}

p {
  color: #555;
  max-width: 600px;
  margin: 5px auto;
  
}

.boards {
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
}

.board-container {
  background-color: white; 
  width: 360px; 
}

.board-container h2 {
  color: #007bff; 
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
}

.cell.hit {
  background-color: red;
}

.cell.miss {
  background-color: white; 
}

.cell.empty {
  background-color: #aeeeee;
}
